@model CreateRecurrentMeetingModel
@using Models

@{
    ViewData["Title"] = "Create meeting";
}

<h1>Create Meeting</h1>

<div class="myform">
    <h1 class="display-4">Create recurrent meeting</h1>
    @Html.ValidationSummary()
    <form asp-action="createRecurrentMeeting" method="post">
        <div class="myforma">
            <label asp-for="Name" class="">Name:</label>
            <input asp-for="Name" />
        </div>
        <div class="myforma">
            <label asp-for="StartDate" class="">Start:</label>
            <input type="datetime-local" min="@DateTime.Now.Date.ToShortTimeString()"                 
                    asp-for="StartDate" />
        </div>
        <div class="myforma">
            <label asp-for="EndDate">End:</label>
            <input type="datetime-local" asp-for="EndDate" />
        </div>
        <div class="myforma">
            <label asp-for="RepeatUntil">Repeat until:</label>
            <input type="datetime-local" asp-for="RepeatUntil" />
        </div>
        <div class="myforma">
            <label asp-for="RepeatInterval">Repeat interval:</label>
            <select asp-for="RepeatInterval" asp-items="Html.GetEnumSelectList<RepeatInterval>()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="myforma">
            <label asp-for="IsOnlineMeeting">Online:</label>
            <input type="checkbox" asp-for="IsOnlineMeeting" />
        </div>
        <div class="myforma">
            <label asp-for="RoomId">Room:</label>
            @Html.DropDownListFor(m => m.RoomId, (IEnumerable<SelectListItem>)ViewBag.Rooms, "Select room...")
        </div>
        <div>
            <p></p>
                <button type="submit">Create</button>
            <p></p>
        </div>
    </form>
</div>
