@{
    ViewData["Title"] = "Delete meeting";
}

<h1>Delete Meeting</h1>

<div class="myform">
    <h1 class="display-4">Delete meeting</h1>
    <form asp-action="delete" method="post">
        <input type="hidden" />
        <div>
            <p></p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="@Url.Action("Index", "Meeting")" class="btn btn-primary">Cancel</a>
            <p></p>
        </div>
    </form>
</div>
