@model MeetingViewModel
@{
    ViewData["Title"] = "Meeting details";
}

<h1>Meeting details</h1>

<div class="">
    <p>Name: @Model.Name</p>
    <p>StartDate: @Model.StartDate</p>
    <p>EndDate: @Model.EndDate</p>
</div>
