.secondClass {
    color: midnightblue;
    font-weight: 600;
    /*22*/
}

img {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.firstClass {
    color: red;
    text-align: center;
    /*11*/
}

#csharp {
    color: aqua;
}

.myTable {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

    .myTable > tbody > tr, td > #csharp {
        color: midnightblue;
        font-weight: 600;
        border: 2px solid black;
    }
